{% extends 'base.html.twig' %}

{% block title %}Winkelwagen{% endblock %}

{% block body %}
    <h1>Een overzicht van producten in winkelwagen</h1>

    {% if shoppingCart.getNumberOfProducts(app.request)  > 0 %}

    <a href="{{ path('delete_cart_product_all') }}"><button type="button" class="btn btn-danger">Verwijder alles</button></a>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Afbeelding</th>
            <th>Aantal</th>
            <th>Prijs per stuk</th>
            <th>Totale Prijs</th>
            <th>Verwijder</th>
        </tr>
        </thead>
        <tbody>
        {%  for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td><img src="{{ asset('images/' ~ product.product.image) }}" width="200" class="img-fluid" alt="{{ product.product.image }}"></td>
                <td>{{ product.quantity }}</td>
                <td>€ {{ product.product.price|number_format(2, ',', '.') }}</td>
                <td>€ {{ (product.product.price * product.quantity)|number_format(2, ',', '.') }}</td>
                <td><a href="{{ path('delete_cart_product', {'id': product.product.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>U betaalt € {{ totalPrice|number_format(2, ',', '.') }}</h4>
    <a href="{{ path('app_purchase_add') }}"><button type="button" class="btn btn-primary">Bestel</button></a>
    {% else %}
    <div class="alert alert-block">
        Geen producten in de winkelwagen
    </div>
    {% endif %}

{% endblock %}
